@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        display: block;
        font-size: 17px;
        font-weight: 600;
        padding: 10px 32px;
        border-radius: 50px;
        transition-duration: 300ms;
    }
    .errormsg{
        display: none;
    }
}
body{
    font-family: 'Karla', sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Show Error Message  */
input:invalid[focused="true"] ~ .errormsg{
    display: block;
}